<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <title>Create a Custom Mad Lib!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <style>
    body {
      background-color: beige;
    }
  </style>
</head>

<body>
  <div class="container">
    <p>@Model.Noun1 went to the store for a few items</p>
    <p>@Model.Noun1 @Model.Adverb1 decided that they were having breakfast for dinner.</p>
    <p>@Model.Noun2 said "@Model.Noun1 , is that you? From Epicodus? I have not seen you in @Model.Number1 years!!</p>
    <p>@Model.Noun1 said, "@Model.Noun2 great to see you again, it has been way too long. </p>
    <p>@Model.Noun2 said "same. Is that breakfast for dinner? I think I will do the same! </p>
    <p>@Model.Noun2 @Model.Adverb2 bought pankcakes, sausage and orange juice</p>
  </div>
</body>

</html>